name: Déploiement Statique Next.js via FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: cpupme
    
    steps:
      - name: Vérifier le code source
        uses: actions/checkout@v4

      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      - name: Installer les dépendances
        run: npm ci
        
      - name: Exécuter le Build Next.js
        run: npm run build
        env:
          NODE_ENV: production

      # 4. Déploiement FTP/FTPS
      - name: Déploiement FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftp.cpupme.com
          username: devopschrist@cpupme.com
          password: Kobenan@@?   # ⚠️ mettre ton mot de passe dans GitHub Secrets
          protocol: ftp  # ou ftps si ton serveur supporte FTPS
          local-dir: ./out/
          server-dir: /    # dossier distant
          dry-run: false
          log-level: standard

  email_notify:
    runs-on: ubuntu-latest
    needs: build_and_deploy
    if: always()

    steps:
      - name: CINotify Email
        uses: cinotify/github-action@main
        with: 
          to: "devopschrist@gmail.com"
          subject: >
            Mise en ligne: Déploiement ${{ needs.build_and_deploy.result == 'success' && 'réussi✅' || 'échoué❌' }}
          body: >
            <p>Le process CI/CD de votre projet cpupme a ${{ needs.build_and_deploy.result == 'success' && 'réussi' || 'échoué' }}.</p>
          type: "text/html"