name: Déploiement Statique Next.js via FTP

# Déclenche le workflow à chaque push sur la branche 'main' (à adapter si nécessaire)
on:
  push:
    branches:
      - main
  workflow_dispatch: # Permet de déclencher le workflow manuellement depuis GitHub

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: cpupme
    
    steps:
      # 1. Checkout du code
      - name: Vérifier le code source
        uses: actions/checkout@v4

      # 2. Configuration de Node.js
      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Utilisez la version de Node.js appropriée

      # NOUVEAU: 2b. Configuration de Pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8 # Utiliser une version stable de pnpm (à ajuster si besoin)
          run_install: false # Nous gérons l'installation à l'étape suivante

      # 3. Installation des dépendances et Build Statique
      - name: Installer les dépendances
        run: npm ci # Utiliser npm ci pour les workflows d'intégration continue
        
      - name: Exécuter le Build Next.js (et l'export statique)
        # Assurez-vous d'avoir 'next build' dans vos scripts package.json
        run: npm run build
        env:
          # Passez ici vos variables d'environnement côté client (commençant par NEXT_PUBLIC_)
          NODE_ENV: production
          # Exemple: NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

      # 4. Déploiement sur le serveur FTP
      # Le dossier par défaut de l'export Next.js est 'out/'
      - name: Déploiement FTP des fichiers statiques
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          # Paramètres de connexion FTP (doivent être définis comme secrets GitHub)
          server: "ftp.cpupme.com"
          username: "devopschrist@cpupme.com"
          password: "kobenan@@?"
          
          # Dossier local à uploader (le résultat de l'export statique Next.js)
          local-dir: ./out/
          
          # Dossier distant sur le serveur où les fichiers doivent être placés (ex: /public_html/)
          remote-dir: ./
          
          # Conserver les informations sur l'état du déploiement pour la synchronisation
          state-name: .ftp-deploy-state.json
          delete-test: false
          dry-run: false

  email_notify:
    runs-on: ubuntu-latest
    needs: build_and_deploy
    if: always()

    steps:
      - name: CINotify Email
        uses: cinotify/github-action@main
        with: 
          to: "devopschrist@gmail.com"
          subject: >
            Mise en ligne: Deploiement ${{ needs.build_and_deploy.result == 'success' && 'réussi✅' || 'échoué❌' }}
          body: >
            <p>Le process CI/CD de votre projet cpupme a ${{ needs.build_and_deploy.result == 'success' && 'réussi' || 'échoué' }}.</p>
          type: "text/html"
