name: Déploiement Statique Next.js via FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: cpupme
    
    steps:
      # 1. Checkout du code
      - name: Vérifier le code source
        uses: actions/checkout@v4

      # 2. Configuration Node.js
      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3. Setup pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      # 4. Installation des dépendances
      - name: Installer les dépendances
        run: npm ci

      # 5. Build Next.js
      - name: Exécuter le Build Next.js (export statique)
        run: npm run build
        env:
          NODE_ENV: production

      # 6. Déploiement FTP
      - name: Déploiement FTP des fichiers statiques
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: "cpupme.com"   # <<< TEMPORAIRE en attendant que ftp.cpupme.com fonctionne
          username: "devopschrist@cpupme.com"
          password: "kobenan@@?"
          protocol: "ftp"
          port: 21

          local-dir: ./out/
          server-dir: ./     # remplace remote-dir

          state-name: .ftp-deploy-state.json
          dry-run: false

  email_notify:
    runs-on: ubuntu-latest
    needs: build_and_deploy
    if: always()

    steps:
      - name: CINotify Email
        uses: cinotify/github-action@main
        with: 
          to: "devopschrist@gmail.com"
          subject: >
            Mise en ligne: Déploiement ${{ needs.build_and_deploy.result == 'success' && 'réussi✅' || 'échoué❌' }}
          body: >
            <p>Le process CI/CD de votre projet cpupme a ${{ needs.build_and_deploy.result == 'success' && 'réussi' || 'échoué' }}.</p>
          type: "text/html"